/* Media Queries */
/* Vistas menores a 1024px */
@media screen and (max-width: 1024px) {
    .banner_principal {
        background-image: url(../imagenes/Background-index-1024.png);
        
}

.texto_portfolio{
    margin-top: 46%;
    font-size: 600%;
}

.texto_nombre{
    margin-right: 134%;
    font-size: 260%;
    margin-right: 128%;
}

.header{
    flex-direction: row;
    font-size: small;

}

.contenido_item{
    display: grid;
    justify-content: center;
    align-content: center;
    flex-direction: column; 
    
  
}

.contenido_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    flex-direction: column; 
    justify-content: center;
    align-content: center;     
  
}




/* Vistas menores a 600px */
@media screen and (max-width: 600px) {
    .banner_principal {
        background-image: url(../imagenes/Background-index-320.png);
        
}  

.texto_portfolio{
    margin-top: 128%;
    font-size: 290%;
}

.texto_nombre{
    margin-right: 134%;
    font-size: 120%;
    margin-right: 100%;
}

.header{
    display: flex;
    flex-direction: row;
}

.nav_ul_li_a{
    display: none;

}

.nav{
    flex-direction: row-reverse;
    padding-right: 20px;
    padding-top: 10px;
    color: #332f09;

}
    
.menu{
    display: block;
}

.seccion_grid{
    display: grid;
    align-content: center;
    justify-content: center;
    
  
}

.contenido_item{
    display: grid;
    justify-content: center;
    align-content: center;
  
}

.contenido_grid{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    flex-direction: column; 
    justify-content: center;
    align-content: center;
    padding-left: 100%;
       
}

.message > textarea{
    flex: 1; 
    min-width: 2rem;

}

.message{
    display: flex;
    flex-direction: column;
    order: 2;
    
}

.myForm{
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: #979797;
    padding: 2rem;
    padding-left: 1rem;
    
}

}

}
