* {
  /*selector_universa */
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  background-color: #ffffff;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #332f09;
  font-weight: bold; }

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #332f09; }

/* Aplicando Flexbox en el main del index */
.index {
  height: 900px;
  background-image: url(../imagenes/Background-index.png);
  background-size: cover;
  background-position: center;
  width: 100%; }
  .index_portada {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 35%;
    overflow: hidden; }
    .index_portada_portfolio {
      text-align: center;
      font-weight: 750;
      font-size: 800%;
      margin-top: 26%;
      margin-right: 120%;
      color: #566de1;
      background-image: linear-gradient(45deg, #e5d2ce, #ffffff);
      border-color: #ffffff;
      border-style: dashed; }
    .index_portada_nombre {
      text-align: center;
      font-weight: 500;
      font-size: 350%;
      margin-right: 109%;
      color: #332f09; }

.footer {
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #332f09; }
  .footer .derechos_reservados {
    flex-direction: row;
    flex-wrap: nowrap;
    font-weight: 600; }
  .footer .redes_sociales {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    overflow: hidden;
    margin-left: 75%; }

/* Aplicando Grids en la pagina de Contenido */
.section {
  background-color: #f6ffa4;
  color: #566de1;
  font-size: large;
  font-weight: 300;
  padding-top: 5%;
  padding-bottom: 5%; }
  .section_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 50px; }
    .section_grid_item:hover {
      padding: 100px 5px 5px 5px;
      transform: translate(6px) scale(1);
      overflow: hidden; }

.sobre_mi, .banner_proyectos {
  height: 900px;
  background-size: cover;
  width: 100%;
  background-image: url(../imagenes/background-rosado.jpg); }
  .sobre_mi_main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px; }
    .sobre_mi_main_uno {
      padding-left: 60px;
      padding-top: 70px; }
    .sobre_mi_main_dos {
      padding-right: 90px;
      padding-top: 80px;
      font-size: medium;
      font-weight: 500;
      color: #332f09;
      text-align: justify; }
    .sobre_mi_main_tres {
      justify-items: stretch;
      padding-left: 60px; }
    .sobre_mi_main_cuatro {
      font-size: medium;
      list-style: none; }

.banner_proyectos {
  height: 1420px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #332f09; }

.col-lg {
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify; }

.contacto {
  height: 900px;
  width: 100%;
  background-size: cover;
  background-color: #f6ffa4; }
  .contacto_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 30px; }
    .contacto_grid_buzon {
      padding-left: 50px;
      padding-top: 90px; }
    .contacto_grid_frase {
      padding-top: 250px;
      padding-right: 50px; }
      .contacto_grid_frase_autora {
        color: #566de1;
        font-weight: 500; }
    .contacto_grid_form {
      padding-left: 90px;
      background-color: white;
      padding-right: 142%;
      margin-left: 2%;
      padding-top: 2%;
      padding-bottom: 2%;
      box-shadow: 0 20px 30px #000000 0, 0, 0, 0.2; }
