.contacto {
    height: 900px;
    width: 100%;
    background-size: cover;
    @extend .index;      

    &_grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        


        &_buzon{
            padding-top: 70px;
            padding-left: 10%;
            
            
        }

        &_frase{
            padding-top: 170px;
            padding-left: 25%; 
            overflow: hidden;

            &_autora{
                color: $color_dos;
                font-weight: 500;
            }
        }

        &_form{
            background-color: rgb(255, 255, 255);
            padding-left: 50px;  
            padding-right: 25%;
            margin-top: 15%;
            margin-right: 30%;
            margin-left: 20%;
            padding-top: 5%;
            padding-bottom: 3%;
                                             
        }

    }
}

