
// Aplicando flexbox al footer

.footer{
    display: flex;
    font-family: $texto;
    color: $color_uno;
    overflow: hidden;
    
    

    .derechos_reservados{
        flex-direction: row;
        flex-wrap: wrap;
        font-weight: 300;
        margin-left: 10px;
        padding-top: 10px; 
        overflow: hidden;
             
    }

    .redes_sociales {
        flex-direction: row;
        flex-wrap: wrap;
        overflow: hidden;
        

                
    }
}



