
// Aplicando flexbox al footer

.footer{
    display: flex;
    font-family: $texto;
    color: $color_uno;
    

    .derechos_reservados{
        flex-direction: row;
        flex-wrap: nowrap;
        font-weight: 600;        
    }

    .redes_sociales {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        overflow: hidden; 
        margin-left: 75%;         
    }
}



