$texto: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$color_uno: #332f09;
$color_dos: #566de1;


.header {
    background-color: #ffffff;
    width: 100%;
    position: absolute;
    z-index: 90px
             
}