body {
    font-family: $texto;
    color: $color_uno;
    
}

/* Aplicando Flexbox en el main del index */
.index {
    height: 900px;
    background-image: url(../imagenes/Background-index.png);
    background-size: $b_size;
    width: $ancho_b;
    

    &_portada{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content:left; 
        margin-left: 35%;
        overflow: hidden;

        &_portfolio{
            text-align: center;
            font-weight: 750;
            font-size: 800%;
            margin-top: 26%;
            margin-right: 120%;
            color: $color_dos;
            background-image: linear-gradient(45deg, #e5d2ce, #ffffff);
            border-color: #ffffff;
            border-style: dashed;
        }
            
        &_nombre{
        text-align: center;
        font-weight: 500;
        font-size: 350%;
        margin-right: 109%;
        color: $color_uno;
                     
        }
          
    }
}
