.banner_proyectos {
    height: auto;
    font-family: $texto;
    color: $color_uno;
    background-color: #ffffff;
    overflow: hidden;
    
    
   
}

.col-lg{
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    overflow: hidden;
}