.sobre_mi {
    height: 900px;
    background-size: cover;
    width: 100%; 
    background-image: url(../imagenes/background-rosado.jpg);
    overflow: hidden;


    &_main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr); 
        
        
        &_uno{
            padding-left: 50px;  
            padding-top: 70px;                                   
        }

        &_dos{
            padding-right: 90px;
            padding-top: 170px;
            font-size: large; 
            font-weight: 400;
            color: $color_uno; 
            text-align: justify;
                       
        }

        &_tres{
            justify-items: stretch;
            padding-left: 70px;
        }

        &_cuatro{
            font-size: medium;
            list-style: none;
        }
    }
}



